mixin video(info)  
     div
        h4=info.title
        ui 
            li #{info.rating}/5
            li #{info.comments} comments.
            li Posted #{info.createdAt}.
            li #{info.views} views.